export DB_NAME=
export DB_USER=
export DB_PASSWORD=
export DB_HOST=
export GOOGLE_CALENDAR_ID=
export GOOGLE_API_KEY=
export ACF_KEY=
export AUTH_KEY=
export SECURE_AUTH_KEY=
export LOGGED_IN_KEY=
export NONCE_KEY=
export AUTH_SALT=
export SECURE_AUTH_SALT=
export LOGGED_IN_SALT=
export NONCE_SALT=
