.site-header {
  @include container-inner();
  padding-top: 20px;
  padding-bottom: 20px;

  .logo {
    display: inline-block;
    vertical-align: middle;

    img {
      height: auto;
      margin: 0;
      width: 160px;
    }
  }

  .nav {
    display: inline-block;
    vertical-align: middle;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: -0.25em;

        a {
          border-bottom-style: solid;
          border-bottom-width: 3px;
          border-color: transparent;
          color: $club-red;
          display: inline-block;
          font-weight: 900;
          padding: 0.5rem 1rem;
          text-transform: uppercase;
          transition: border-color 0.1s ease-in-out;

          small {
            font-size: 1em;
            text-transform: lowercase;
          }

          &:hover, &:focus {
            border-color: $club-red;
            text-decoration: none;
          }
        }

        &.attention a {
          background-color: $club-red;
          border: solid 1px shade($club-red, 5%);
          border-top-color: tint($club-red, 5%);
          border-radius: 4px;
          color: white;
          margin-left: 0.5em;
        }

        &.active a {
          border-color: $club-red;
        }
      }
    }
  }
}
