body.faq-page {
  .anchor-links {
    margin-bottom: 3rem;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        display: block;

        & + li {
          margin-top: 0.5em;
        }
      }
    }
  }

  .faq {
    margin-bottom: 3rem;
  }
}
