body.page {
  article {
    margin: 0 auto;

    .header {
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin-bottom: 2rem;

      &:before {
        background-color: rgba(shade($club-blue, 10%), 0.8);
        content: '';
        display: block;
        left: 0;
        -webkit-mix-blend-mode: multiply;
        mix-blend-mode: multiply;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
      }

      .title {
        color: white;
        font-weight: 900;
        font-size: 2.2rem;
        padding: 7vw 0;
        text-align: center;
        text-shadow: 0px 0.06em 0px rgba(black, 0.4);
        text-transform: uppercase;
      }

      @media (min-width: 750px) {
        max-height: 30vw;

        .title {
          font-size: 3.25rem;
        }
      }

      @media (min-width: 941px) {
        .title {
          padding: 11vw 0;
        }
      }
    }

    .content {
      max-width: 45em;
      margin: 0 auto;
      padding: 0 2.5%;

      @media (min-width: 860px) {
        padding: 0;
      }
    }
  }
}
