<footer class="site-footer">
  <section class="sponsors">
    <h3>Our Sponsors</h3>
    <ul>
      <li>
        <a href="http://bicyclesinc.com/" target="_blank">
          <img src="{{ site.theme.uri }}/img/sponsors/bicyclesinc.png" alt="Bicycles Inc. Logo">
        </a>
      </li>
      <li>
        <a href="https://www.specialized.com/us/en" target="_blank">
          <img src="{{ site.theme.uri }}/img/sponsors/specialized.png" alt="Specialized Logo"></li>
        </a>
      <li>
        <a href="http://www.roadid.com/?referrer=7029" target="_blank">
          <img src="{{ site.theme.uri }}/img/sponsors/roadid.png" alt="RoadID Logo">
        </a>
      </li>
    </ul>
  </section>
  <section class="copyright">&copy; {{ "now"|date("Y") }} Team Bicycles Inc.</section>
</footer>
