<header class="site-header">
  <div class="logo">
    <img src="{{ site.theme.uri }}/img/tbi-logo-small.png" alt="Team Bicycles Inc Logo" width="160">
  </div>

  <div class="nav">
    <ul>
      <li{% if request.url.pathname == '/' %} class="active"{% endif %}><a href="/">Home</a></li>
      <li{% if request.url.pathname starts with '/about-us' %} class="active"{% endif %}>
        <a href="/about-us/">About Us</a>
      </li>
      <li{% if request.url.pathname starts with '/photos' %} class="active"{% endif %}>
        <a href="">Photos</a>
      </li>
      <li{% if request.url.pathname starts with '/calendar' %} class="active"{% endif %}>
        <a href="/calendar">Calendar</a>
      </li>
      <li{% if request.url.pathname starts with '/faqs' %} class="active"{% endif %}>
        <a href="/faqs">FAQ<small>s</small></a>
      </li>
      <li class="attention">
        <a href="">Join today</a>
      </li>
    </ul>
  </div>
</header>
